extends layout

block content
	.container.u-max-full-width.static-confirm(style='color: black;')
		.row
			.one-half.column(style='')
				img#logo(src='img/logo_with_BG.png' height='28px' width='98px' style='margin-top: 20px;')
		.row
			.twelve.columns(style='text-align: center; margin-top: 150px;')
				h1
					|	Join #{title}
		.row
			.twelve.columns(style='text-align: center')
				input#Btn_joinRoomBtn(data-room-name = '#{title}' type='button' value='Confirm')

	.u-full-width.container.u-max-full-width#main(style='color: black;')
		.row(style='color: white')
			.two.columns(style='padding: 15px; text-align: center;')
				a(href='/')
					img#logo(src='img/logo_with_BG.png' height='35px' width='120px' style='')

			.ten.columns(style='padding: 15px; background-color:#50E3C2')
				.span#spinner.spinnerCT(style='display: none;')
					.sk-spinner.sk-spinner-chasing-dots
						.sk-dot1
						.sk-dot2
				img(src='img/logo_Face.png' height='34px' width='30px' style='margin-left: 10px; display: inline; position: absolute;')
				span.customfont(style='margin-left: 50px;')
					| #{title}
				.player-iw-panel-Container
					.player-iw-panel-Artwork
					.player-iw-panel-Title
						.player-iw-panel-title-text
							| Kanye west- its over prod by boi-1nda
					.player-iw-panel-Control
						a(href='#')
							img#player-option(src='img/pauseicon.png')

				span(style='float: right; margin-top: 5px;')
					a(href='#')
						img#link-pop-icon(src='img/linkIcon.png' height='21px' width='49px' style='')
					.notification-Box
						img#notify-icon(src='img/notifyIcon.png' height='25px' width='25px' style='')
						.notification-Circle
							| 1
				.popUpBox
					span(style='margin-left: 20px; font-family: "holy", Verdana, Tahoma;') Link:
					input.popUpLittleText(type='text' value='http://jukeboxapp.herokuapp.com/#{title}')
		.row
			.twelve.columns(style='')
				input#searchBar(type='text' placeholder='Search for a song' autofocus='')
		.trackContainer

	//
		.row.track
			.twelve.columns.littleBoxContainer(style='')
				img.littleBoxImage(src='img/KanyeWest.png' height='150px' width='150px' style='margin-left: 80px;')
				.littleBoxText
					|I Don't Fuck With You (Ft. E-40)(Prod. DJ Mustard Kanye West / Co-Prod. DJ Dahi keY Wane)