doctype html(lang='en')
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel='icon', type='image/png', href='/img/logo_Face_colored.png')
    title= title +' | JukeBox'
    block css
      link(rel='stylesheet', href='/css/animate.css')
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/skeleton.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='http://connect.soundcloud.com/sdk.js')
      script(src='js/jquery.js')
      script(src="/socket.io/socket.io.js")
      script(src='js/main.js')
  body
    block content
