html,body{
	font-size:25px;
	color: white;
	height: 100%;
	width: 100%;
}

#main{
	opacity: 0;
}

.background{
	position: fixed;

	width: 100%;
	height: 100%;

	background-image: url('../img/bgBig.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-animation: animatedBackground 6s ease-out 6;
	-moz-animation: animatedBackground 6s ease-out 6;
	animation: animatedBackground 6s ease-out 6;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(48,54,53,0.95);
}

.loadingPanel{

}

input#create_Session{
	width: 50%;
	background: none;
	border: none;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	font-size: 15px;
	height: 50px;
	-webkit-transition: 0.25s;
	margin-right: 20px;
	min-width: 200px;
}

input#Btn{
	width: 200px;
	height: 50px;
	border-color: white;
	border-style: solid;
	border-width: 3px;
	color: white;
	-webkit-transition: 0.25s;
}

input#Btn:hover{
	color: white;
	background-color: #50E3C2;
	border-color: #50E3C2;
}

input#Btn_joinRoomBtn{
	width: 200px;
	height: 50px;
	border-color: white;
	border-style: solid;
	border-width: 3px;
	color: black;
	-webkit-transition: 0.25s;
}

input#Btn_joinRoomBtn:hover{
	color: white;
	background-color: #50E3C2;
	border-color: #50E3C2;
}

@-webkit-keyframes animatedBackground {
	0% {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1)
	}
	100% {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1)
	}

}

@-moz-keyframes animatedBackground {
	0% {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1)
	}
	100% {
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		-ms-transform: scale(1.1, 1.1);
		-o-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1)
	}

}

@keyframes animatedBackground {
	0% {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1)
	}
	100% {
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		-ms-transform: scale(1.1, 1.1);
		-o-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1)
	}

}

.sk-spinner-chasing-dots.sk-spinner {
  margin: 0 auto;
  top: 10px;
  left: 20px;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
          animation: sk-chasingDotsRotate 2s infinite linear; }
.sk-spinner-chasing-dots .sk-dot1, .sk-spinner-chasing-dots .sk-dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
          animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
.sk-spinner-chasing-dots .sk-dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

#infoText{
	visibility: hidden;
}